#É possível fazer comentários no gitignore
#Caso queira deletar uma série de documentos de um mesmo tipo usar como exemplo *.txt
1_Introducao\node_modules\
2_PrimeiraAPI\node_modules\
3_MongoRestify\Data\
OmniStack\node_modules\