//COLORS
$light-green : #7ed56f;
$light-green-alpha : #7ed56fd0;
$medium-green : #55c57a;
$medium-green-alpha : #55c57ac7;
$dark-green : #28b485;

$white-color : #fff;
$grey-color : #777;

//GRID
$grid-width : 114rem;
$gutter-vertical : 8rem;
$gutter-horizontal : 6rem;